{
  "presets": [
    [
      "@babel/preset-env", { "modules":  "commonjs", "loose": true }],
    [
      "@babel/preset-react",
      {
        "pragma": "dom",
        "pragmaFrag": "DomFrag",
        "throwIfNamespace": false,
        "runtime": "classic",
        "development": false
      }
    ]
  ],
  "plugins": [
  ]
}
